<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iosdevlog.com.userinterface">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DrawerActivity" />
        <activity android:name=".GridActivity" />
        <activity android:name=".LinearActivity" />
        <activity android:name=".RelativeActivity" />
        <activity android:name=".SlidingPaneActivity" />
        <activity android:name=".ViewPagingActivity" />
        <activity android:name=".AnalogClockActivity" />
    </application>

</manifest>